html body main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
}

html body main .pc {
  display: none;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 761px) {
  html body main .pc {
    display: block;
  }
}

html body main .pc .background_pc {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

html body main .pc .transition_1_pc {
  animation: fadein 2s ease 1s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_2_pc {
  animation: fadein 2s ease 4s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_3_pc {
  animation: fadein 2s ease 6s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_4_pc {
  animation: fadein 2s ease 8s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_5_pc {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: fadein 3s ease 3s 1 forwards;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_6_pc {
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  text-align: center;
  animation: fadein 2s ease 4.5s 1 forwards;
  opacity: 0;
}

@media only screen and (min-width: 761px) {
  html body main .pc .transition_6_pc img {
    width: 20%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .pc .transition_7_pc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 51%;
}

@media only screen and (min-width: 761px) {
  html body main .pc .transition_7_pc {
    animation: fadein 2s ease 10s 1 forwards;
    opacity: 0;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html body main .smp {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 761px) {
  html body main .smp {
    display: none;
  }
}

html body main .smp .background_smp {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

html body main .smp .transition_1_smp {
  animation: fadein 2s ease 1s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .smp .transition_2_smp {
  animation: fadein 2s ease 3s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .smp .transition_3_smp {
  animation: fadein 2s ease 3s 1 forwards;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .smp .transition_4_smp {
  animation: fadein 2s ease 5s 1 forwards;
  width: 50%;
  height: 6%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  opacity: 0;
}

html body main .smp .transition_4_smp img {
  height: 50%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html body main .smp .transition_5_smp {
  animation: fadein 2s ease 7s 1 forwards;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
