@charset "UFT-8";

$media-pc: 761px;
@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}
@mixin img_position {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html {
  body {
    main {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      .pc {
        display: none;
        width: 100%;
        height: 100%;
        @include pc {
          display: block;
        }
        .background_pc {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
        .transition_1_pc {
          animation: fadein 2s ease 1s 1 forwards;
          @include img_position;
        }
        .transition_2_pc {
          animation: fadein 2s ease 4s 1 forwards;
          @include img_position;
        }
        .transition_3_pc {
          animation: fadein 2s ease 6s 1 forwards;
          @include img_position;
        }
        .transition_4_pc {
          animation: fadein 2s ease 8s 1 forwards;
          @include img_position;
        }

        .transition_5_pc {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          animation: fadein 3s ease 3s 1 forwards;
          opacity: 0;
          @keyframes fadein {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .transition_6_pc {
          width: 30%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 60%;
          text-align: center;
          img {
            @include pc {
              width: 20%;
            }
          }
          animation: fadein 2s ease 4.5s 1 forwards;
          opacity: 0;
          @keyframes fadein {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .transition_7_pc {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 51%;
          @include pc {
            animation: fadein 2s ease 10s 1 forwards;
            opacity: 0;
            @keyframes fadein {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }
        }
      }
      .smp {
        @include pc {
          display: none;
        }
        width: 100%;
        height: 100%;
        .background_smp {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }

        .transition_1_smp {
          animation: fadein 2s ease 1s 1 forwards;
          @include img_position;
        }
        .transition_2_smp {
          animation: fadein 2s ease 3s 1 forwards;
          @include img_position;
        }
        .transition_3_smp {
          animation: fadein 2s ease 3s 1 forwards;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          opacity: 0;
          @keyframes fadein {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .transition_4_smp {
          animation: fadein 2s ease 5s 1 forwards;
          width: 50%;
          height: 6%;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;

          img {
            height: 50%;
          }
          opacity: 0;
          @keyframes fadein {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        .transition_5_smp {
          animation: fadein 2s ease 7s 1 forwards;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 49.5%;
          opacity: 0;
          @keyframes fadein {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
