@charset "UFT-8";

$media-pc: 700px;
@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}

@mixin item_size_smp {
  width: 125px;
  height: 125px;
  position: fixed;
  transform: translateY(-50%) translateX(-50%);
  z-index: 999;
  img {
    width: 125px;
    height: 125px;
  }
}
@mixin item_size_pc {
  display: block;
  width: 143px;
  height: 143px;
  position: absolute;
  z-index: 999;
  img {
    width: 143px;
    height: 143px;
  }
}

html {
  body {
    background-color: #000;
    main {
      background-color: #000;
      header {
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #fff;
        @include pc {
          height: 54px;
        }
      }
      .solid_space {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        @include pc {
          width: 1280px;
          height: 720px;
          background: url(../image/common/background_pc.png);
          position: relative;
        }

        .model_name {
          width: autos;
          height: 22px;
          position: fixed;
          top: 10vh;
          left: 10vw;
          z-index: 999;
          @include pc {
            width: auto;
            height: 27px;
            position: absolute;
            top: 85px;
            left: 54px;
          }
        }

        model-viewer {
          width: 100vw;
          height: calc(100vh - 150px);
          position: fixed;
          top: 60px;
          left: 0;
          z-index: 888;
          background: url(../image/common/background_pc.png) no-repeat center
            center/cover;
          @include pc {
            width: 470px;
            height: 528px;
            position: absolute;
            top: 132px;
            left: 54px;
            border: 2px solid #fff;
          }
          button {
            width: 0;
            height: 0;
          }
        }

        .item_title {
          display: none;
          @include pc {
            display: block;
            width: 299px;
            height: 31px;
            position: absolute;
            top: 139px;
            left: 561px;
          }
        }
        .items_smp {
          display: none;
          .item1 {
            @include item_size_smp;
            top: calc(50% - 180px);
            left: calc(50% - 70px);
          }
          .item2 {
            @include item_size_smp;
            top: calc(50% - 180px);
            left: calc(50% + 70px);
          }
          .item3 {
            @include item_size_smp;
            top: calc(50% - 40px);
            left: calc(50% - 70px);
          }
          .item4 {
            @include item_size_smp;
            top: calc(50% - 40px);
            left: calc(50% + 70px);
          }
          .item5 {
            @include item_size_smp;
            top: calc(50% + 100px);
            left: calc(50% - 70px);
          }
          .item6 {
            @include item_size_smp;
            top: calc(50% + 100px);
            left: calc(50% + 70px);
          }
        }
        .items_pc {
          .item1_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 200px;
              left: 560px;
            }
          }

          .item2_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 200px;
              left: 716px;
            }
          }
          .item3_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 360px;
              left: 560px;
            }
          }
          .item4_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 360px;
              left: 716px;
            }
          }
          .item5_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 518px;
              left: 560px;
            }
          }
          .item6_pc {
            display: none;
            @include pc {
              @include item_size_pc;
              top: 518px;
              left: 716px;
            }
          }
        }

        .status_container {
          .status_title {
            display: none;
            @include pc {
              display: block;
              width: 332.7px;
              height: 30.3px;
              position: absolute;
              top: 138px;
              left: 898px;
            }
          }
          .status_pc {
            img {
              display: none;
              @include pc {
                display: block;
                width: 333px;
                height: auto;
                position: absolute;
                top: 201px;
                left: 899px;
              }
            }
          }
          .status_smp {
            width: 150px;
            height: 215px;
            display: none;
            position: fixed;
            top: calc(10vh + 40px);
            left: 10vw;
            z-index: 999;
            img {
              width: 150px;
              height: 215px;
            }
          }
        }

        .display_buttons {
          width: 100vw;
          height: 26px;
          display: flex;
          justify-content: space-around;
          position: fixed;
          bottom: 96px;
          z-index: 999;
          @include pc {
            display: none;
          }

          .status_btn_container {
            width: 110px;
            height: 26px;
            padding-bottom: 1px;
            border-bottom: 1.5px solid #fff;
            display: flex;
            align-items: center;
            .arrow {
              margin-top: 4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 0 8px 15px;
              border-color: transparent transparent transparent #ffffff;
            }
            img {
              height: 26px;
              width: auto;
              margin-left: 2px;
            }
          }
          .item_btn_container {
            width: 110px;
            height: 26px;
            display: flex;
            align-items: center;
            padding-bottom: 1px;
            border-bottom: 1.5px solid #fff;
            .arrow {
              margin-top: 4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 0 8px 15px;
              border-color: transparent transparent transparent #ffffff;
            }
            img {
              height: 26px;
              width: auto;
              margin-left: 2px;
            }
          }
          .ar_btn_container {
            width: 110px;
            height: 26px;
            display: flex;
            align-items: center;
            padding-bottom: 1px;
            border-bottom: 1.5px solid #fff;
            .camera {
              margin-top: 4px;
              margin-bottom: 5px;
              width: 26px;
              height: 27px;
            }
            .frame {
              .ar_icon {
                height: 25px;
                width: auto;
                margin-left: 2px;
              }
            }
          }
        }
        .mask_title {
          display: none;
          width: 332.7px;
          height: 30px;
          position: absolute;
          top: 420px;
          left: 898px;
          @include pc {
            display: block;
          }
        }

        .scroll_area {
          width: 100vw;
          height: 90px;
          background: url("../image/common/icons_background.png") no-repeat
            center center/cover;
          position: fixed;
          bottom: 0;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          @include pc {
            width: 341px;
            height: 164px;
            position: absolute;
            top: 483px;
            left: 877px;
            bottom: auto;
            background-image: none;
            display: block;
          }
          .arrow_left {
            width: 15px;
            height: 40px;
            padding-bottom: 70px;
            @include pc {
              display: none;
            }
            img {
              width: 15px;
              height: 60px;
              padding-bottom: 20px;
            }
          }
          .mask_icons {
            width: 300px;
            height: 70px;
            display: flex;
            padding-bottom: 10px;
            align-items: center;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            -ms-overflow-style: none; /* IE, Edge 対応 */
            scrollbar-width: none; /* Firefox 対応 */
            &::-webkit-scrollbar {
              /* Chrome, Safari 対応 */
              display: none;
            }
            @include pc {
              width: 341px;
              height: 164px;
              flex-wrap: wrap;
              justify-content: space-between;
              align-content: space-around;
              position: absolute;
              bottom: 0;
              left: 8px;
            }

            img {
              width: 60px;
              max-width: 70px;
              height: auto;
              max-height: 70px;
              @include pc {
                width: 67px;
                height: auto;
              }
            }

            a {
              img {
                width: 60px;
                max-width: 90px;
                height: auto;
                max-height: 90px;
                @include pc {
                  width: 67px;
                  height: auto;
                }
              }
            }
          }
          .arrow_right {
            width: 15px;
            height: 40px;
            padding-bottom: 70px;

            @include pc {
              display: none;
            }
            img {
              width: 15px;
              height: 60px;
              padding-bottom: 20px;
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
}
