@charset "UFT-8";

$media-pc: 700px;
@mixin pc {
  @media only screen and (min-width: $media-pc) {
    @content;
  }
}

html {
  body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    header {
      height: 60px;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: #fff;
      z-index: 999;
      @include pc {
        height: 54px;
      }
    }
    main {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      .background_area {
        width: 100%;
        height: 100%;
        position: relative;
        .background_smp {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          @include pc {
            display: none;
          }
        }
        .background_pc {
          display: none;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          @include pc {
            display: inline;
          }
        }

        .mask_select_title_smp {
          height: auto;
          width: 58%;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);

          @include pc {
            display: none;
          }
          img {
            height: 100%;
            width: 100%;
          }
        }
        .mask_select_title_pc {
          height: auto;
          width: 46%;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          display: none;
          @include pc {
            display: block;
          }
          img {
            height: 100%;
            width: 100%;
          }
        }

        .select_icons {
          width: 90%;
          height: 25%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          position: absolute;
          top: 65%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          @include pc {
            width: 64%;
            height: 60%;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
          }
          a {
            width: 16vw;
            height: auto;
            @include pc {
              width: 20%;
              height: auto;
              opacity: 0.5;
              &:hover {
                opacity: 1;
              }
            }
            img {
              width: 16vw;
              height: auto;
              @include pc {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
