html body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

html body header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
}

@media only screen and (min-width: 700px) {
  html body header {
    height: 54px;
  }
}

html body main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}

html body main .background_area {
  width: 100%;
  height: 100%;
  position: relative;
}

html body main .background_area .background_smp {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media only screen and (min-width: 700px) {
  html body main .background_area .background_smp {
    display: none;
  }
}

html body main .background_area .background_pc {
  display: none;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media only screen and (min-width: 700px) {
  html body main .background_area .background_pc {
    display: inline;
  }
}

html body main .background_area .mask_select_title_smp {
  height: auto;
  width: 58%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media only screen and (min-width: 700px) {
  html body main .background_area .mask_select_title_smp {
    display: none;
  }
}

html body main .background_area .mask_select_title_smp img {
  height: 100%;
  width: 100%;
}

html body main .background_area .mask_select_title_pc {
  height: auto;
  width: 46%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: none;
}

@media only screen and (min-width: 700px) {
  html body main .background_area .mask_select_title_pc {
    display: block;
  }
}

html body main .background_area .mask_select_title_pc img {
  height: 100%;
  width: 100%;
}

html body main .background_area .select_icons {
  width: 90%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media only screen and (min-width: 700px) {
  html body main .background_area .select_icons {
    width: 64%;
    height: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

html body main .background_area .select_icons a {
  width: 16vw;
  height: auto;
}

@media only screen and (min-width: 700px) {
  html body main .background_area .select_icons a {
    width: 20%;
    height: auto;
    opacity: 0.5;
  }
  html body main .background_area .select_icons a:hover {
    opacity: 1;
  }
}

html body main .background_area .select_icons a img {
  width: 16vw;
  height: auto;
}

@media only screen and (min-width: 700px) {
  html body main .background_area .select_icons a img {
    width: 100%;
    height: auto;
  }
}
